<h1>天気情報 from weather.livedoor.com</h1>

<h2><%= @tokyo_result['location']['city'] %></h2>
<ul>
  <% 3.times do |i| %>
  <li>
    <%= @tokyo_result['forecasts'][i]['dateLabel'] %>の天気：<%= @tokyo_result['forecasts'][0]['telop'] %><%= image_tag(@tokyo_result['forecasts'][i]['image']['url']) %>
    　最高気温：
    <% if @tokyo_result['forecasts'][i]['temperature']['max'].present? %>
      <%= @tokyo_result['forecasts'][i]['temperature']['max']['celsius'] %>℃
    <% else %>
      未発表
    <% end %>
    　最低気温：
    <% if @tokyo_result['forecasts'][i]['temperature']['min'].present? %>
      <%= @tokyo_result['forecasts'][i]['temperature']['min']['celsius'] %>℃
    <% else %>
      未発表
    <% end %>
  </li>
  <% end %>
</ul>

<h2><%= @ishikawa_result['location']['city'] %></h2>
<ul>
  <% 3.times do |i| %>
      <li>
        <%= @ishikawa_result['forecasts'][i]['dateLabel'] %>の天気：<%= @ishikawa_result['forecasts'][0]['telop'] %><%= image_tag(@ishikawa_result['forecasts'][i]['image']['url']) %>
        　最高気温：
        <% if @ishikawa_result['forecasts'][i]['temperature']['max'].present? %>
            <%= @ishikawa_result['forecasts'][i]['temperature']['max']['celsius'] %>℃
        <% else %>
            未発表
        <% end %>
        　最低気温：
        <% if @ishikawa_result['forecasts'][i]['temperature']['min'].present? %>
            <%= @ishikawa_result['forecasts'][i]['temperature']['min']['celsius'] %>℃
        <% else %>
            未発表
        <% end %>
      </li>
  <% end %>
</ul>

<h2><%= @okinawa_result['location']['city'] %></h2>
<ul>
  <% 3.times do |i| %>
      <li>
        <%= @okinawa_result['forecasts'][i]['dateLabel'] %>の天気：<%= @okinawa_result['forecasts'][0]['telop'] %><%= image_tag(@okinawa_result['forecasts'][i]['image']['url']) %>
        　最高気温：
        <% if @okinawa_result['forecasts'][i]['temperature']['max'].present? %>
            <%= @okinawa_result['forecasts'][i]['temperature']['max']['celsius'] %>℃
        <% else %>
            未発表
        <% end %>
        　最低気温：
        <% if @okinawa_result['forecasts'][i]['temperature']['min'].present? %>
            <%= @okinawa_result['forecasts'][i]['temperature']['min']['celsius'] %>℃
        <% else %>
            未発表
        <% end %>
      </li>
  <% end %>
</ul>